body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: blanchedalmond;
    
    animation-name: perct;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#main-container{
    border: 5px solid black;
    width:1000px;
    height: 800px;
    background-color: salmon;
}

#header{
    height:130px;
    border: 3px dotted paleturquoise;
    text-align: center;

    animation-name: colorChange;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#header:hover{
    font-size:30px;
}

#nav-bar{
    height:50px;
    text-align: center;
    border-top:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    padding-top:25px;
}

.nav-btn{
    border: 2px solid black;
    padding:10px;
}
.nav-btn:link{
    background-color: greenyellow;
}
.nav-btn:visited{
    background-color: white;
}
#content{
    height:250px;
    width:650px;
    text-align: center;
    margin: auto;
}

#lermispum{
    font-size: 20px;
    border:2px double burlywood;

    animation-name: moving  ;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    font-family: "Petit Formal Script";
}

#Music-Page{
    border: 2px groove gray;
}

#musicp{
    font-size: 15px;
    border:2px double burlywood;
    color:darkblue;
}
#Favorite-Artists{
    text-align: center;
    
}
#list{
   
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    list-style-position: inside;


}
@keyframes colorChange{
    from{
        background-color:red;
    }    
    to{
        background-color:blueviolet;
    }
    
}

@keyframes perct{
    0%{
        background-color: thistle;
    }
    10%{
        background-color: violet;
    }
    20%{
        background-color:royalblue;
    }
    30%{
        background-color:slateblue;
    }
    40%{
        background-color:rebeccapurple
    }
    50%{
        background-color:blue
    }
    60%{
        background-color:blueviolet
    }
    70%{
       background-color:plum
    }
    80%{
        background-color: purple;
    }
    90%{
        background-color: orchid;
    }
    100%{
        background-color: darkmagenta;
    }
}

@keyframes moving{
    0%{
        transform: translate(10px,10px)

    }
    20%{
        transform: rotate(275deg);
        transform: translate(-10px,10px);
    }
    30%{
        transform: rotate(-180deg);
        transform: scale(2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: translate(10px,10px);
        transform: rotate(180deg)
    }
}